@import '~antd/dist/antd.css';
.body {
  margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
.App {
  text-align: center;
  display: -webkit-box;
  min-height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border: 1px none #000;
    border-radius: 0px;
    background-color: #17161b;
    background-image: #17161b;
    font-size: 19px;
    line-height: 19px;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #264b04;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-14 {
  padding-top: 100px;
  max-width: 75vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.container-15 {
  position: static;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -o-object-fit: fill;
    object-fit: fill;
}
.container-16 {
  padding-top: 40px;
    padding-bottom: 40px;
}
.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.paragraph-4 {
  padding-left: 0px;
    color: #fff;
    font-size: 26px;
    line-height: 150%;
}

.heading-5 {
  position: static;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 25%;
    margin: 0px auto;
    padding: 50px 20px 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #faf9f9;
    font-size: 80px;
    text-align: center;
    text-shadow: 2px 2px 7px #ddce00;
}

.button {
  margin-bottom: 30px;
  padding: 15px 40px;
  border-style: solid;
  border-width: 2px;
  border-color: #f892ff;
  border-radius: 15px;
  background-color: #00928b;
  color: #fff;
  font-size: 24px;
  line-height: 26px;
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898EC;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

.link-block-6{
  margin-right: 10px;
  margin-left: 10px;
  -o-object-fit: scale-down;
  object-fit: scale-down;
} 
.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.section-heading {
  font-size: 34px;
  margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

hr {
  border: none;
    border-top: 1px solid #ddce00;
    color: #ddce00;
    overflow: visible;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.new-link-block {
  position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.ant-modal-header, .ant-modal-body {
  background-color: black !important;
}

.ant-radio-wrapper {
  color: white !important;
}